# **Analise de cancelamentos de planos**
---

Neste *jupyter notebook* vanis abalisar as taxas de cancelametos de planos da ***Umbrela Corperation***, e a partir dessa analise, tentar descobrir os motivos que levaram a uma alta taxa de cancelamentos, e reverter a situação no processo.

## _***Passo 1***: abrir o *database*
---

A primeira coisa a se fazer e abrir o *dataset* no notebook. Para isso iremos fazer uso de uma biblioteca do ***Python*** usada para analise de dados chamada ***Panda***.

1. Baixe o *dataset* no tema **Materiais**, que se encontra no site do **Google Classroom**(https://classrom.google.com) na pasta raiz d projeto.
2. em seguida, crie um ambiente virtual do Python na raiz do projeto('.venv').
3. Apos a criação do '.venv', instale a biblioteca **Pandas**

## _***Passo 2***: abrir o *dataset*
---
com o **Pandas** instalado no ambiente virtual do nosso projeto, agora vamos abrir o **dataset**. Para isso, vamos criar uma **nova célula de código** logo essa célula de markdown, e digitarmos o código-fonte para abrir os dados do dataset no notebook. O código está logo abaixo:

In [1]:
# importando a biblioteca pandas
import pandas as pd

# Lê os dados do dataset
tabela = pd.read_csv('cancelamentos.csv')

# Lê os dados da tabela
display(tabela)

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
881661,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

O comando display() permite a exibição dos dados como se fosse uma tabela.

Só que agora que finalmente temos os dados armazenados na variável tabela, precisaremos filtrar esses dados. Vamos refazer a consulta, mas desta vez iremos retirar a coluna ID, pois ela é inútil para a nossa analise de dados.

A seguir vamos acrescentar outra célula de código para realizar a filtragem dos dados:

In [3]:
# exibe novamente os dados, eliminando a coluna ID
tabela = tabela.drop('CustomerID', axis=1)
display(tabela)

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

## Tratamento de dados 
---

### **Não e feiticaria, e tecnologia...**

Graças ap ***Python***, agora temos uma poderosa ferramenta para analise de dados muito mais perfeita que muita ferramenta famosa (cof cof Excel).

Na nossa planilha, nós temos muitas linhas , sendo que algumas delas estão com dados vazios (mas não sabemos qual, nem quantas.). Portanto, vamos exibir as informacoes da nossa plenilha para verificar quantas linhas possuem, de fato, dados, e quantas estao vazias. veja a cwlula de codigo a seguir:

In [4]:
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881666 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881664 non-null  float64
 1   sexo                    881664 non-null  object
 2   tempo_como_cliente      881663 non-null  float64
 3   frequencia_uso          881663 non-null  float64
 4   ligacoes_callcenter     881664 non-null  float64
 5   dias_atraso             881664 non-null  float64
 6   assinatura              881661 non-null  object
 7   duracao_contrato        881663 non-null  object
 8   total_gasto             881664 non-null  float64
 9   meses_ultima_interacao  881664 non-null  float64
 10  cancelou                881664 non-null  float64
dtypes: float64(8), object(3)
memory usage: 74.0+ MB

None

os numeros de linha para cada coluna nao batem o que indicam qie existiam celulas nao preenchas poluindo nossa analise de dados . precisaremos elimina-los. Segue a celula de codugo abaixo

In [6]:
tabela = tabela.dropna()
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Index: 881659 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881659 non-null  float64
 1   sexo                    881659 non-null  object
 2   tempo_como_cliente      881659 non-null  float64
 3   frequencia_uso          881659 non-null  float64
 4   ligacoes_callcenter     881659 non-null  float64
 5   dias_atraso             881659 non-null  float64
 6   assinatura              881659 non-null  object
 7   duracao_contrato        881659 non-null  object
 8   total_gasto             881659 non-null  float64
 9   meses_ultima_interacao  881659 non-null  float64
 10  cancelou                881659 non-null  float64
dtypes: float64(8), object(3)
memory usage: 80.7+ MB

None

## *PASSO 4:* Analise de dados
---

Agors que os dados foram tratados , podemo iniciar a **Analise de dados** propriamente dita. Que tal começarmos com a ***taxa de cancelamentos de empresa**? Afinal de contas esse e o **nosso objetivo**: diminuir a taxa de cancelamentos

vamos pegar a coluna de taxa de cancelamentos e exibir para darmos uma plhada. veja na celula de codigo a seguir:

Repare que o numero de cancelamentos e maior do que o de nao cancelamentos , o que sgnifica que algo de errado nao esta certo. Mas quanto de cancelamentos  esta acima do de nao cancelado? Vamos refazer a analise . Observe a celula de codigo a segui

In [8]:
display(tabela['cancelou'].value_counts())

cancelou
1.0    499993
0.0    381666
Name: count, dtype: int64

Repare que o número de cancelamentos é maior do que o de não cancelamentos, o que significa que algo de errado não está certo. Mas quanto de cancelamentos está acima do de não cancelados? Vamos refazer a análise. Observe a célula de código a seguir:

In [10]:
display(tabela['cancelou'].value_counts(normalize=True).map('{:.2%}'.format))

cancelou
1.0    56.71%
0.0    43.29%
Name: proportion, dtype: object

Agora sabemos que **56,76%** dos cliente cancelaram seus cotratos. um numero excessivo alto, levando em conta que mais da metade dos clientes foram perdidos agora precisaremos investirgar de onde vem essa taxa tap alta de cancelamentos.

**INPORTANTE: Na parte de analise de ddos, nao tem uma informacao correta para ser analisada logo de cara. Esse e um processo que vai tomar tempo ,pois voce,de fato, precisara analisar os dados e entender o que esta acontencendo no seu dataset. Entao pode ser que demoro mais em alguns casos do que em outros para encontrar p que procura antes de propor sua solucao.

## *PASSO 5:* Investigação do problema
---

Vamos po partes. Cmoeçaremos pela duração dos contratos. Ao verificar a coluna de duracao de contratos (`duracao_contrato`), varemos que existem 3 tipos de contrataos: **Anual**,**Trimensal** e **Mensal**. vejamos duracao nedia de cada tipo de contrato. Vejamos celula de codigo a sguir

a partir dessa analise, verifico que a minoria dos meus clientes possuem contrato do tipo **Mensal**. sera que a maioria dos cancelamentos e do tipo de contrato mensal? Para descobrir, vamos analisar a taxa de cancekamentos por tipo de contrato. O que vamos fazer e agrupar os 3 tipos de contrato para verificar a taxa de cancelaentos de cada um. Vejamos a celula de codigo abaixo:

In [11]:
# numeros brutos
display(tabela['duracao_contrato'].value_counts())

# em porcentagem
display(tabela['duracao_contrato'].value_counts(normalize=True).map('{:.2%}'.format))

duracao_contrato
Annual       354395
Quarterly    353059
Monthly      174205
Name: count, dtype: int64

duracao_contrato
Annual       40.20%
Quarterly    40.04%
Monthly      19.76%
Name: proportion, dtype: object

A partir dessa análise, verifico que a minoria dos meus clientes possuem contrato do tipo mensal. Será por que a Maioria dos cancelamento é do tipo de contrato mensal? Para descobrir, vamos analisar a taxa de cancelamento por tipo de contrato para verificar a taxa de cancelamentos de cada um. Vejamos a célula de código abaixo:

In [12]:
display(tabela.groupby('duracao_contrato').mean(numeric_only=True))

,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
duracao_contrato,,,,,,,,
Annual,38.842165,31.446186,15.880213,3.263401,12.465156,651.697738,14.236107,0.460760
Monthly,41.552407,30.538555,15.499274,4.985649,15.007267,550.616435,15.478012,1.000000
Quarterly,38.830938,31.419916,15.886662,3.265245,12.460863,651.427783,14.234544,0.460255

Podemos ver que tem algo estranho  na taxa de cancelamentos vistos na coluna cancelou. Vamos verificar qual a porcentagem de cancelamentos de cada um dos tipos de contrato:

In [13]:
tb_cancelar = tabela.groupby('duracao_contrato').mean(numeric_only=True)

display(tb_cancelar['cancelou'].map('{:.2%}'.format))

duracao_contrato
Annual        46.08%
Monthly      100.00%
Quarterly     46.03%
Name: cancelou, dtype: object

Conforme análise, descobrimos que os clientes que possuem contrto do tipo mensal, possuem uma taxa de 100% de cancelamento. Dessa forma, vamos re-analisar o dataset, mas desta vez, sem os contratos do tipo mensal.

In [14]:
tabela = tabela[tabela['duracao_contrato'] != 'Monthly']
display(tabela)
display(tabela['cancelou'].value_counts())
display(tabela['cancelou'].value_counts(normalize=True).map('{:.2%}'.format))

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
5,51.0,Male,33.0,25.0,9.0,26.0,Premium,Annual,129.00,8.0,1.0
6,58.0,Female,49.0,12.0,3.0,16.0,Standard,Quarterly,821.00,24.0,1.0
7,55.0,Female,37.0,8.0,4.0,15.0,Premium,Annual,445.00,30.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

cancelou
0.0    381666
1.0    325788
Name: count, dtype: int64

cancelou
0.0    53.95%
1.0    46.05%
Name: proportion, dtype: object

conseguimos diminuir a taxa de cancelamento para **46,05%**. É uma diminuição de 10% mas a taxa de cancelamentos ainda está muito alta. Afinal, são quase 50% de cancelamentos, mesmo com a eliminação dos contratos do tipo mensal. Então vamos continuar investigando.

Pudemos verificar em análises anteriores que há uma alta taxa de cancelamento entre os cliente que atrasam o pagamento de seus contratos. Então o nosso próximo passo será analisar esses clientes.

# Graficos
---
Uma das melhores formas de se analisar dados é atráves de gráficos, pois fica muito mais fácil visualizar os dados e obter as informações necessárias.

Para o nosso caso aqui e agora, vamos usar a biblíoteca **plotly.express** para gerar os gráficos das nossas colunas. Obviamente, precisaremos fazer sua instalação através do comando pip install plotly no **CLI**.

Vamos usar o **Plotly** para criar um histograma com cada uma das colunas. Assim poderemos analisar cada uma das informações e verificar como elas se comportam em relação aos cancelamentos da empresa. Vamos gerar os gráficos de todas as colunas a partir da célula de código a seguir:

In [ ]:
import plotly.express as px

for coluna in tabela.columns:
    grafico = px.histogram(tabela, x=coluna, color='cancelou', width=600)
    grafico.show()

**Obs**.: caso o código para exibição de gráficos retorne erro, instale uma biblíoteca adicional que deverá corrigir isso: pip install nbformat. Se mesmo após isso o gráfico não funcionar e continuar dando erro, feche o VSCode e reinicie o programa, re-executando todas as células novamente.

Após a analise dos gráficos, pudemos verificar que a quantidade canelamento de plano de clientes que atrasaram o pagemento é maior do que a de quem não atrasou o pagamento.

Também pudemos analisar que a taxa de cancelamentos está diretamente ligada ao número de ligações feitas ao call center.

## Solucao: melhorar o setor call center

# Resultado
---

Analisando os gráficos de ligações para o call center e dos atrasos de pagamento, conseguimos chegar à raiz do problema: **os clientes que fizeram mais que 5 ligações para o call center cancelaram seus planos. Para finalizarmos, vamos refazer a análise do dataset, re-exibindo os dados, desta vez sem os planos mensais, e sem as ligações para o call center que excederam em 5 tentativas, e também vamos eliminar da exibição os clientes que passaram mais tempo sem pagar as suas assinaturas. Vejamos o código a seguir:

In [25]:
tabela = tabela[tabela['ligacoes_callcenter'] < 5]
tabela = tabela[tabela['dias_atraso'] <= 20]
display(tabela)
display(tabela['cancelou'].value_counts())
display(tabela['cancelou'].value_counts(normalize=True).map('{:.2%}'.format))

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
6,58.0,Female,49.0,12.0,3.0,16.0,Standard,Quarterly,821.00,24.0,1.0
7,55.0,Female,37.0,8.0,4.0,15.0,Premium,Annual,445.00,30.0,1.0
9,64.0,Female,3.0,25.0,2.0,11.0,Standard,Quarterly,415.00,29.0,1.0
13,48.0,Female,35.0,25.0,1.0,13.0,Basic,Annual,518.00,17.0,1.0
19,42.0,Male,15.0,16.0,2.0,14.0,Premium,Quarterly,262.00,16.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

cancelou
0.0    379032
1.0     85447
Name: count, dtype: int64

cancelou
0.0    81.60%
1.0    18.40%
Name: proportion, dtype: object

---
# Fim